.carousel-item{
    height:600px;
    position : relative;
    border-bottom:outset 5px rgb(17, 170, 225);
    box-shadow: 2px 2px 3px rgb(2, 41, 104);
}
.carousel-header nav a{
    text-decoration: none;
    color:white;
    text-shadow:1px 1px 1px black;
    padding-left: 15px;
    text-shadow: 1px 3px 10px black 
    
}
.carousel-header{
    position:absolute;
    top:30px;
    right:150px;
    padding:20px;
    z-index:10;

}
.carousel-header nav a:hover{
    color:rgb(23, 170, 224);
    font-weight:bold;
}
.carousel-inner .container{
    position:absolute;
    padding:50px;
    left:0;
    right:0;
    bottom:0;
    color:white;
    text-shadow: 1px 3px 3px black 
}
#body{
    background-color:rgb(4, 50, 67);
    color:white;
    font-size:20px;
    font-family: 'Newsreader','Merriweather', serif;
}
#courses #enroll{
    background-color:rgb(118, 169, 192);
    border-style: outset;
    border-radius:20px;
}
#choose{
    background-color: rgb(7, 112, 150);
    color:black;
}
#choose #mission{
    border-right: 3px solid rgb(0, 45, 60);
}
#contact{
    background-color: rgb(7, 112, 150);
    color:black;
}
footer{
    text-align :center;
}
.logo{
    position:absolute;
    z-index:10;
    top:10px;
    left:150px;
    text-shadow: 1px 1px 10px black;
    font-family:'Cinzel';
    color:rgb(23, 170, 224);
}
.logo .sangeetha{
    font-family:'lavishly yours';
    font-size:100px;
    z-index: 100;
}