*,*::before,*::after{
    box-sizing:border-box;
}

.carousel-item{
    height:700px;
    position : relative;
    border-bottom:outset 5px rgb(17, 170, 225);
    box-shadow: 2px 2px 3px rgb(2, 41, 104);
}
nav #collapsible a{
    color:rgb(255, 255, 255);
    text-shadow: 1px 3px 10px black ;
}

#head{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

nav #collapsible a:hover{
    color:rgb(23, 170, 224);
    font-weight:bold;
}
.carousel-inner .container{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding:30px 15px 40px;
    color:white;
    text-shadow: 1px 3px 3px black ;
}
#body{
    background-color:rgb(4, 50, 67);
    color:white;
    font-size:20px;
    font-family: 'Newsreader','Merriweather', serif;
}
#courses #enroll{
    background-color:rgb(118, 169, 192);
    border-style: outset;
    border-radius:20px;
}
#choose{
    background-color: rgb(7, 112, 150);
    color:black;
}
#choose #mission{
    border-right: 3px solid rgb(0, 45, 60);
}
#contact{
    background-color: rgb(7, 112, 150);
    color:black;
}
footer{
    text-align :center;
}
.logo{
    text-shadow: 1px 1px 10px black;
    font-family:'Cinzel';
    color:rgb(23, 170, 224);
}
.logo .sangeetha{
    font-family:'lavishly yours';
    font-size:100px;
    z-index: 100;
}
@media(max-width:600px){
    .carousel-item{
        height:500px;
    }
    .logo .sangeetha{
        font-size:60px;
    }
    #head{
        padding:10px 15px;
    }
}
@media(min-width:780px){
    .navbar-brand{
       padding-left :50px;
    }
}
    